@{
    ViewBag.Title = "About";
}


<section id="get-in-touch">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Everflux Studios</h1>
                    <h2>Coming Soon</h2>
                </header>
               
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
