@{
    ViewBag.Title = "About";
}


<section id="get-in-touch">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>EverFlux studios</h1>
                    <p>We are working on our new web site and will be on-line soon.</p>
                </header>
               
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
